*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
    color: white;
}
html , body{
    height: 100%;
    width: 100%;
}

nav{
    position: fixed;
    background-color: #111111;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 8vh;
    padding: 1vw 9vw;
    justify-content: space-between;
    z-index: 10;

}
.nav-part2{
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    z-index: 10;
    

}
.nav-part2 h4{
    font-size: .9vw;
    text-transform: uppercase;
    font-weight: 500; 
    margin-bottom: 2vw;
    
}
.nav-part2 h5 span{

    font-size: 0.74vw;
    font-weight: 500;
    transform: translateY(25px);
    display: inline-block;

}
.nav-part2 h5{
    margin-bottom: 1vw;
    /* background-color: red; */
    display: none;
    overflow: hidden;
}

 

nav button{
    background-color: #0BA34D;
    display: flex;
    align-items: center;
    font-size: .8vw;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 20px;
    border-radius: 50px;
    border: none;
    
}
nav button svg{
    
    height: .8vw;
    margin-left: 1.6vw;
    
}

#nav-bottom{
    width: 81.75%;
    height: 0vh;
    position: absolute;
    background-color: #111111;
    top: 100%;
    z-index: 9;
    border-bottom: 1px solid white ;

}


#page1{
    height: 100vh;
    width: 100%;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1{
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8vw;
}
#page1 h1 svg{
    height: 6vw;
    width: 6vw;
    background-color: #0BA34D;
    border-radius: 50%;
   

}

#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
}
#page1-Something{
    display: flex;
    align-items: center;
    justify-content: center;

}
#page1-Something h4{
    font-weight: 400;
    font-size: 2vh;
    text-transform: lowercase;
    margin-top: .5vw ;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 50px;
    
}

#page1-Something h4:nth-last-child(2){
    border: none;
    padding: 2px;
}

#moving-div{
    /* background-color: red; */
    margin: 10vh;
    position:absolute;
    bottom: 0%;
    width: 45%;
    padding: 1vw;
    white-space: nowrap ;
    overflow: hidden ;
   
}
#moving-div .move{
   display: inline-block;
   animation-name: anim;
   animation-duration: 8s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}
#moving-div .move img{
    height: 1.3vw;
    margin: 0 1.2vw;
}

#blur-left{
    height: 100%;
    width: 20%;
    background:linear-gradient(to right,#111111,transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
#blur-right{
    height: 100%;
    width: 20%;
    background:linear-gradient(to right,transparent,#111111);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

@keyframes anim {
    0%{
        transform: translateX(0);

    }
    100%{
        transform: translateX(-100%);

    }
    
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #111111;
}

